body {
    background-color: rgb(194, 194, 194) !important;
}

.navstyle {
    background-color: black;
}

.navstyle h1 {
    color: white !important;
}

footer {
    background-color: black;
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
}

footer h1 {
    color: white !important;
}

.rows {
    padding: 4rem;
}

.cards {
    border-radius: 4rem;
    height: 120px !important;
    text-align: center !important;
}

.buttons {
    margin: 2rem;
}

.user-cont {
    margin: 1em auto;
    padding: 0 2em !important;
}

.ultraCard {
    width: 90%;
}

@media (max-width: 1350px) {
    .cards {
        width: 100% !important;
        max-height: 358px;
    }
}
